- content_for( :title ) { signin_title }

- content_for( :body ) do

    %div.content
        %div#signin
            %h2
                Sign in to Inklings
            = form_for( :session, :url => signin_path ) do | f |
                = f.label :email
                %br
                = f.text_field :email, :class => 'width-100'
                %br
                = f.label :password
                %br
                = f.password_field :password, :class => 'width-100'
                %br
                = f.check_box :remember_me
                %span
                    Remember Me
                %br
                = f.submit 'Sign In', :class => 'button-flat'