- content_for( :title ) { signin_title }

- content_for( :body ) do

    %div.content
        = form_for( :session, :url => signin_path ) do | f |
            = f.label :email
            = f.text_field :email, :class => 'form-control'
            
            = f.label :password
            = f.password_field :password, :class => 'form-control'
            
            = f.submit 'Sign In'