- content_for( :title ) { forums_show_title( @forum ) }

%div.page-content
    %section.content.margin-b2
        = link_to new_conversation_path( :forum_id => params[ :id ] ) do
            %div.add-new
                Start A New Conversation
    %section.content
        %table.table-wide
            %tr
                %th.maximized
                    %span
                        Conversation
                %th.fitted
                    %span
                        Participants
                %th.fitted
                    %span
                        Comments
                %th.fitted
                    %span
                        Latest Activity
                - if signed_in? && current_user.admin?
                    %th
                - i = 1
                - for conversation in @conversations
                    = content_tag :tr, :class => "#{ i.odd? ? 'tr-odd' : 'tr-even' }" do
                        %td.maximized
                            = link_to h( conversation.name ), forum_conversation_path( conversation.forum.id, conversation.id )
                        %td.fitted
                            %span
                                = conversation.comments.group_by( &:user_id ).count
                        %td.fitted
                            %span
                                = conversation.comments.to_a.count
                        %td.fitted
                            %span
                                = conversation.comments.last.created_at.strftime( '%B %d, %Y' )
                        - if signed_in? && current_user.admin?
                            %td.fitted
                                %span
                                    = link_to 'delete', conversation, :method => :delete, :data => { :confirm => 'Are you sure you want to permanently delete this conversation?' }
                    - i += 1
