= form_for( [ :admin, news_report ] ) do | f |
    %div.field
        = f.label( :title )
        = f.text_field( :title )
        = f.error_message( :title )
    %div.field
        = f.label( :content )
        = f.text_area( :content )
        = f.error_message( :content )
    %div.buttons
        = f.submit( 'Submit Report', { :class => 'button -bright -left' } )
