- content_for( :title ) { conversations_new_title }

- content_for( :body ) do

    %div.content
        = form_for @conversation do | f |
            - if @conversation.errors.any?
                %div.div-errors
                    %ul
                        - @conversation.errors.full_messages.each do | message |
                            %li
                                = message
            = f.label :forum
            %br
            = f.collection_select :forum_id, @forums, :id, :name, :selected => params[ :forum_id ]
            %br
            = f.label :name
            %br
            = f.text_field :name, :class => 'width-100'
            %br
            = f.fields_for :comments do | ff |
                = ff.hidden_field :user_id, :value => current_user.id
                = ff.label :content
                %br
                = ff.text_area :content, :class => 'height-10em width-100'
            %br
            = f.submit 'Create'