- content_for( :title ) { home_title }

- content_for :body do

    %div.content
        %table#table-welcome
            %tr
                %td#intro-wrapper
                    %div#intro
                        %h2
                            See your story come
                            %span.emphasis
                                alive.
                            Make it
                            %span.emphasis
                                grow. 
                            Watch it
                            %span.emphasis
                                evolve.
                        %br
                        %div.intro-text
                            %p
                                Inklings is a new writing community where your work in progress 
                                is just as emphasized as being with other writers. Your story needs your attention, 
                                and by embodying it as an Inkling, a creature that feeds on words and changes as 
                                your story does, our website lets you view your work as never before.
                            %p
                                Come on in. Meet other writers. Nurture your story.
                            - unless signed_in?
                                %p
                                    = link_to 'Learn More', about_path, :class => 'link-inline'
                                    or sign up at the right.
                %td#td-transparency
                %td#sign-up
                    - if signed_in?
                        %div.overlay.overlay-content
                            %h3
                                Hello Again!
                        %div.intro-text
                            %p
                                = "You are currently signed in as #{ current_user.username }."
                                %br
                                = "(Not #{ current_user.username }? Click "
                                = link_to 'here', signout_path, :method => 'delete', :class => 'link-inline'
                                to sign out.)
                            %p
                                - if current_user.manuscripts.any?
                                    = "You were last working on: #{ @working_on.title }"
                                    %br
                                    %br
                                    = link_to 'Keep Working', manuscript_path( :id => @working_on.id ), :class => 'link-affirmative'
                                - else
                                    You currently have no manuscripts.
                                = link_to 'Start a New Manuscript', new_manuscript_path, :class => 'link-affirmative'
                    - else
                        %div.overlay.overlay-content
                            %h3
                                Sign Up
                        %div#form-signup
                            = render :partial => 'users/new'
        %div#news
            %div.overlay.overlay-content
                %h2
                    Website News
            %br
            - if signed_in? && current_user.admin?
                %div
                    %h3
                        This Just in...
                    %p
                        (Admins: use this form to create new news reports. Once you submit the report, it will appear at the top of the news feed.)
                    = form_for( @news_report ) do | f |
                        = f.label :title
                        %br
                        = f.text_field :title, :class => 'width-100'
                        %br
                        = f.label :content
                        %br
                        = f.text_area :content, :class => 'width-100 height-10em'
                        %br
                        = f.submit 'Submit Report', :class => 'button-flat'
                    %hr
            - for report in @news_reports do
                %div#report
                    %h3
                        = report.title
                    %p
                        = "Reported by #{ User.find( report.user_id ).username } on #{ report.created_at.strftime( '%B %d, %Y' ) }"
                    %p.report
                        = report.content
                    - if signed_in? && current_user.admin?
                        %br
                        = link_to 'Edit Report', edit_news_report_path( report.id ), :class => 'link-button-like'
                        = link_to 'Delete Report', news_report_path( report.id ), :class => 'link-button-like', :method => :delete, :data => { :confirm => 'Are you sure you want to permanently delete this news report?' }
                    %hr