- content_for( :title ) { home_title }
- content_for( :sub_header ) do
    %section.sub-header
        %div.content
            %div.faux-table
                %div
                    %div.intro
                        %h1.heading.-large
                            = "See your story come #{content_tag( :em, 'Alive' )}.".html_safe
                        %p.t-large
                            Inklings is a writing community where your work in progress 
                            is just as emphasized as being with other writers. Your story needs your attention, and by embodying it as an Inkling, a creature that feeds on words and changes as your story does, our website lets you view your work as never before.
                        %p.t-large
                            Come on in. Meet other writers. Nurture your story.
                    %div.welcome{ :class => signed_in? ? 'align-top' : 'align-middle' }
                        - if signed_in?
                            %h2.heading.-fine
                                Hello Again!
                            %div.intro-text
                                %p
                                    = "You are currently signed in as #{current_user.username}. (Not #{current_user.username}? Please click #{link_to( 'here', signout_path, :method => 'delete', :class => 'underlined' )} to sign out.)".html_safe
                                %p
                                    - if current_user.manuscripts.any?
                                        = "You were last working on: #{@working_on.title}"
                                        %br
                                        %br
                                        = link_to 'Keep Working', manuscript_path( :id => @working_on.id ), :class => 'button -bright -large full-width'
                                    - else
                                        You currently have no manuscripts.
                                    = link_to 'Start a New Manuscript', new_manuscript_path, :class => 'button -large -light full-width'
                        - else
                            = link_to 'Sign Up', new_user_path, :class => 'button -bright -large full-width margin-b1'
                            = link_to 'Learn More', about_path, :class => 'bumped button -large -light full-width'
                
%main.page-content
    %section.content.news
        %h1.heading.-medium.underlined
            News Feed
        - if signed_in? && current_user.admin?
            %div.new-report
                %h3
                    This Just in...
                = render( { :partial => 'news_reports/form.html.haml', :locals => { :news_report => @news_report } } )
                %hr
        - if !@news_reports.empty?
            - for report in @news_reports do
                %div.report
                    %h2.heading.-fine
                        = report.title
                    %p.t-fine
                        = "Reported by #{ User.find( report.user_id ).username } on #{ report.created_at.strftime( '%B %d, %Y' ) }"
                    %p
                        = report.content
                    - if signed_in? && current_user.admin?
                        %br
                        = link_to 'Edit Report', edit_news_report_path( report.id ), :class => 'button -subtle'
                        = link_to 'Delete Report', news_report_path( report.id ), :class => 'button -subtle', :method => :delete, :data => { :confirm => 'Are you sure you want to permanently delete this news report?' }
                    %hr
