= form_for( user ) do | f |
    %div.field
        = f.label( :username )
        = f.text_field( :username )
    %div.field
        = f.label( :email )
        = f.email_field( :email )
    %div.field
        = f.label( :biography )
        = f.text_area( :biography )
    %div.field
        = f.label( :password, 'New Password' )
        = f.password_field( :password )
    %div.field
        = f.label( :password_confirmation, 'Confirm New Password' )
        = f.password_field( :password_confirmation )
    - unless f.object.new_record?
        %fieldset
            %p
                To authorize any account changes, please enter your current password before submitting.
            %div.field
                = f.label( :current_password, 'Current Password' )
                = f.password_field( :current_password )
    %div.buttons
        %div.buttons--right
            = f.submit( 'Submit', :class => 'button--dark' )
