- content_for( :title ) { users_account_title }

%div.page-content
    %section.content
        %h1.heading.-medium
            = "Account Settings"
        %div
            %p
                = gravatar_for @user
                = link_to( 'Change', 'http://gravatar.com/emails', { :target => '_blank' } )
        %div
            = form_for( @user ) do | f |
                %div.field
                    = f.label( :username )
                    = f.text_field( :username )
                    = f.error_message( :username )
                %div.field
                    = f.label( :email )
                    = f.email_field( :email )
                    = f.error_message( :email )
                %div.field
                    = f.label( :biography )
                    = f.text_area( :biography )
                    = f.error_message( :biography )
                %div.field
                    = f.label( :password, 'New Password' )
                    = f.password_field( :password, :autocomplete => 'off' )
                    = f.error_message( :password )
                %div.field
                    = f.label( :password_confirmation, 'Confirm New Password' )
                    = f.password_field( :password_confirmation )
                    = f.error_message( :password_confirmation )
                %div.field
                    = f.label( :time_zone )
                    = f.select( :time_zone, time_zone_options_for_select( f.object.time_zone, ActiveSupport::TimeZone.us_zones ), { :include_blank => 'None (browser-detected)' }, { :class => 'full-width' } )
                    = f.error_message( :time_zone )
                %p
                    To authorize any account changes, please enter your current password before submitting.
                %div.field
                    = f.label( :current_password, 'Current Password' )
                    = f.password_field( :current_password )
                    = f.error_message( :current_password )
                %div.buttons
                    = f.submit( 'Submit', { :class => 'button -dark -left' } )
