- content_for( :title ) { users_index_title }

- content_for( :body ) do
    
    %div.content
        %h2
            = "#{ site_name } User Directory"
        %table#direc
            %tr
                - for i in [ *( 'A'..'O' ) ] do
                    %td
                        = link_to i, users_path( :letter => i ), :class => 'direc-link'
            %tr
                - for i in [ *( 'P'..'Z' ), '.', '-', '_' ] do
                    %td
                        = link_to i, users_path( :letter => i ), :class => 'direc-link'
                
        %div
        
            = will_paginate
        
            %table.users
                - for user in @users do
                    %tr
                        %td.fitted
                            = gravatar_for user
                        %td.maximized
                            = link_to user.username, user_path( user.id )
                        %td.fitted
                            - if current_user.admin? && !current_user?( user )
                                = link_to 'delete', user_path( user ), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this user?' }
                                        
            = will_paginate