- content_for( :title ) { users_account_title }

- content_for( :body ) do

    %div.content
        %h2
            Your Manuscripts
        - if @manuscripts.any?
            - @manuscripts.each do | manuscript |
                %div.div-manuscript-inkling
                    %div.div-manuscript
                        %div.div-book-wrapper
                            %div.div-book
                                %img.img-book{ :src => '/images/plain_book.svg' }
                                    %div.div-book-writing
                                        %h3
                                            = manuscript.title
                            %div.clear
                        = link_to 'Open Manuscript', manuscript_path( :id => manuscript.id ), :class => 'link-light'
                        = link_to 'Manage Settings', edit_manuscript_path( :id => manuscript.id ), :class => 'link-light'
                        = link_to 'Delete Manuscript', manuscript_path( :id => manuscript.id ), :method => :delete, :class => 'link-dark'
        - else
            %h3
                You are not currently working on any manuscripts.
        = link_to new_manuscript_path do
            %div.add-new
                Create a New Manuscript