- content_for( :title ) { users_new_title }

%div.page-content--lowered
    %section.content--narrow
        %div.even-split
            %div
                %div.align-baseline
                    = link_to( root_path, { :class => 'logo' } ) do
                        %h1
                            Inklings
                %div.align-baseline
                    %h2.h--medium.no-whitespace
                        Sign up for free.
        %div.bumped
            = form_for( @user ) do | f |
                %div.field
                    = f.label( :username )
                    %span.field-note
                        (requires 1+ alphanumeric characters, permits . _ -)
                    = f.text_field( :username )
                    = f.error_message( :username )
                %div.field
                    = f.label( :email )
                    = f.email_field( :email )
                    = f.error_message( :email )
                %div.even-split
                    %div
                        %div.field
                            = f.label( :password, 'Password' )
                            %span.field-note
                                (8+ characters)
                            = f.password_field( :password )
                            = f.error_message( :password )
                        %div.field
                            = f.label( :password_confirmation, 'Confirm Password' )
                            = f.password_field( :password_confirmation )
                            = f.error_message( :password_confirmation )
                %p.t--fine
                    = sanitize( "Already have an account? #{link_to( 'Sign in', signin_path, :class => 'underlined' )}." )
                %div.content--slender
                    %div.buttons--large
                        = f.submit( 'Sign Up', { :class => 'button--bright button--large full-width' } )
