- content_for( :title ) { users_account_title }

- content_for( :body ) do

    %div.content
        %div#profile
            %aside#sidebar-member
                = gravatar_for @user
                %br
                %h3
                    = @user.username
                - unless current_user.nil? || current_user?( @user )
                    %div#form-friendship
                        - if current_user.accepted_friends.include?( @user )
                            = "#{ @user.username } is your friend"
                            = link_to 'Revoke Friendship', friendship_path( @friendship ), :method => :delete, :class => 'link-negative', :data => { :confirm => 'Are you sure you want to end this friendship?' }
                        - elsif current_user.pending_friends.include?( @user )
                            = "You sent this user an offer of friendship on #{ l( current_user.friendships.find_by( :friend_id => @user.id ).created_at, :format => :to_the_day ) }."
                            = link_to 'Revoke Offer', friendship_path( @friendship ), :method => :delete, :class => 'link-negative', :data => { :confirm => 'Are you sure you want to revoke your offer of friendship?' }
                        - elsif current_user.waiting_friends.include?( @user )
                            = "This user sent you an offer of friendship on #{ l( current_user.friendships.find_by( :friend_id => @user.id ).created_at, :format => :to_the_day ) }."
                            = link_to 'Accept Offer', friendship_path( @friendship ), :method => :patch, :class => 'link-affirmative'
                            = link_to 'Reject Offer', friendship_path( @friendship ), :method => :delete, :class => 'link-negative'
                        - else
                            = form_tag( friendships_path, :method => 'post' ) do
                                = fields_for 'friendship', @friendship do | f |
                                    = f.hidden_field :friend_id, :value => @user.id
                                    = f.hidden_field :status, :value => 'pending'
                                = fields_for 'reciprocated_friendship', @reciprocated_friendship do | f |
                                    = f.hidden_field :user_id, :value => @user.id
                                    = f.hidden_field :status, :value => 'waiting'
                                = submit_tag 'Send Friendship Request', :class => 'button-flat'
            %div#div-profile
                %h4
                    Biography
                %p
                    = @user.biography
                %div#div-activity
                %h4
                    Activity
                - if current_user?( @user )
                    %div#form-post
                        = render :partial => 'posts/new'
                %ul#ul-activity-feed
                    - @activity.each do | post |
                        %li.li-post
                            %div.div-post-header
                                %span
                                    = link_to post.user.username, user_path( post.user.id )
                                %span
                                    = l( post.created_at, :format => :to_the_day )
                                - if current_user.is_owner?( post )
                                    %span
                                        = link_to 'delete', user_post_path( current_user.id, post.id ), :method => :delete
                            %div.div-post-content
                                = post.content
                                
                = will_paginate @activity
            %div.clear