= @open_section.name
= form_for @open_section, :method => 'patch', :remote => true do | f |
    = f.button 'Save', :class => 'button-flat'
    = f.button 'Save and Publish', :class => 'button-flat', :name => 'publish', :value => true
    = f.text_area :content, :id => 'section-content'