- @sections.each do | section |
    = content_tag :tr, :id => "#{ section.id }" do
        %td.fitted
            %div.handle
        %td.maximized
            = form_tag( manuscript_section_rename_path( @manuscript.id, section.id ), :method => :patch, :remote => true ) do
                = hidden_field_tag :section_id, section.id
                // js-auto-submit class is meaningful to a jQuery function in manuscripts.js.
                = text_field_tag :name, section.name, :class => 'js-auto-submit'
        %td.fitted
            = section.position
        %td.fitted
            = section.word_count
        %td.fitted
            = link_to 'Go to', manuscript_write_path( @manuscript.id, :section_id => section.id )
        %td.fitted
            = link_to "Delete", section_path( section.id ), :class => 'delete-section', :method => :delete, :remote => true, :data => "Are you sure you want to permanently delete the contents of #{ section.name }?"
