- content_for( :title ) { new_account_activation_title }

%main.page-content--lowered
    %section.content--narrow
        %h1.h--medium
            Re-Send Account Activation Email
        = form_for( @account_activation, { :url => account_activations_path, :method => :post } ) do | f |
            %div.field
                = f.label( :email )
                = f.text_field( :email )
                = f.error_message( :email )
            %div.field
                = f.submit( 'Send Email', { :class => 'button--standard button--bright' } )
