= form_for( post, { :remote => true } ) do | f |
    %div.field
        = f.label( :content, 'New Post' )
        = f.text_area( :content )
        = f.error_message( :content )
    %div.buttons
        = f.submit( 'Submit', { :class => 'button -bright -left' } )
