%header.main-header
    %div.content
        %div.main-header__logo
            = link_to( 'Inklings', root_path )
        %nav.main-header__nav
            %ul
                %li
                    = link_to( 'Home', root_path, { :class => 'js-openable-link' } )
                %li
                    = link_to( 'About', about_path, { :class => 'js-openable-link' } )
                %li
                    = link_to( 'Forums', forums_path, { :class => 'js-openable-link' } )
                - if signed_in?
                    %li.dropdown
                        %div.dropdown__label
                            ACCOUNT
                        %div.arrow
                        %ul
                            %li
                                = link_to( 'Overview', user_path( current_user ) )
                            %li
                                = link_to( 'Sign Out', signout_path, { :method => 'delete' } )
                - else
                    %li
                        = link_to( 'Sign In', signin_path )
        %div.clear
