%nav.navbar
    %div.navbar__content
        %div.faux-table.full-height.spacers--vertical
            %div
                %div.align-middle.maximized
                    %h1.heading.-medium.no-white-space
                        = "#{manuscript.title}"
                %div.align-middle.fitted
                    = link_to( 'Leave Feedback', '#', { :class => 'js-leave-feedback', :id => manuscript.id } ) if signed_in?
                %div.align-middle.fitted
                    = link_to( 'See All Feedback', manuscript_feedback_path( @manuscript.id ) )
                %div.align-middle.fitted
                    = collection_select( :section, :id, @sections, :id, :name, { :selected => ( params[ :section ].nil? ? 1 : params[ :section ] ) }, { :class => 'select-navigation', :id => 'js-selector-for-reader' } )
