%section.utility-bar.-manuscript
    %div.utility-bar__content
        %div.faux-table.full-height.spacers--vertical
            %div
                %div.utility-bar__title
                    %h1.heading.-medium.no-white-space
                        = "#{manuscript.title}"
                %div.utility-bar__utilities
                    = link_to( 'Leave Feedback', '#', { :class => 'js-leave-feedback', :id => manuscript.id } ) if signed_in?
                    = link_to( 'See All Feedback', manuscript_feedback_path( @manuscript.id ) )
                    = collection_select( :section, :id, @sections, :id, :name, { :selected => ( params[ :section ].nil? ? 1 : params[ :section ] ) }, { :class => 'select-navigation', :id => 'js-selector-for-reader' } )
