%section.utility-bar
    %div.utility-bar__content
        %div.faux-table.full-height.spacers--vertical
            %div
                %div.utility-bar__title
                    %h1.heading.-medium.no-white-space
                        = "#{manuscript.title}"
                %div.utility-bar__utilities
                    = link_to( 'Save', { :class => 'button js-button-submit-section' } )
                    = link_to( 'Save and Publish', { :class => 'button js-button-submit-and-publish-section' } )
                    = collection_select( :section, :id, sections, :id, :name, { :selected => ( params[ :section ].nil? ? 1 : params[ :section ] ) }, { :class => 'js-selector-for-writer select-navigation' } )
