- content_for( :title ) { manuscripts_edit_title( @manuscript ) }

= content_for( :body ) do
    
    %div.content
        %h2
            Manuscript Settings
        %div#form-manuscript
            = form_for @manuscript, :method => :patch do | f |
                = render :partial => 'shared/error_messages', :locals => { :object => f.object }
                %p
                    = f.label :title
                    = f.text_field :title, :value => @manuscript.title
                %p
                    = f.label :genre
                    = f.select :genre, options_for_select( @genres ), :value => @manuscript.genre
                %p
                    = f.label :description
                    = f.text_area :description, :value => @manuscript.description, :class => 'height-10em'
                = f.fields_for @inkling do | ff |
                    %p
                        = ff.label :word_count_goal, 'Word Count Goal'
                        %br
                        = ff.text_field :word_count_goal, :class => 'input-inline', :value => @inkling.word_count_goal
                        words
                    - unless @inkling.hardcore == true
                        %p
                            = ff.label :word_rate_goal, 'Word Rate Goal'
                            %br
                            = ff.text_field :word_rate_goal, :class => 'input-inline', :value => @inkling.word_rate_goal
                            words every
                            = ff.text_field :word_rate_goal_basis, :class => 'input-inline', :value => @inkling.word_rate_goal_basis
                            day(s)
                        %p
                            = ff.label :revival_fee, 'Revival Fee'
                            %br
                            = ff.text_field :revival_fee, :class => 'input-inline', :value => @inkling.revival_fee
                            = ff.select :revival_fee_currency, options_for_select( [ 'words', 'points' ] ), { :value => @inkling.revival_fee_currency }, { :class => 'input-inline' }
                    %p
                        = f.submit 'Submit Changes', :class => 'button-flat'