- content_for( :title ) { manuscripts_index_title }

- content_for( :body ) do

    %div.content
        %h2
            = "#{ site_name } Manuscript Library"
                
        %div
        
            = will_paginate @updated_manuscripts
        
            %table.manuscript
                - for manuscript in @updated_manuscripts do
                    %tr
                        %td.fitted
                            = manuscript.title
                        %td.maximized
                            = manuscript.description
                                        
            = will_paginate @updated_manuscripts