- content_for( :title ) { manuscripts_new_title }

= content_for( :body ) do
    
    %div.content
        %h2
            Create a New Manuscript
        %div#form-manuscript
            = form_for @manuscript do | f |
                = render :partial => 'shared/error_messages', :locals => { :object => f.object }
                %p
                    = f.label :title
                    = f.text_field :title
                %p
                    = f.label :genre
                    = f.select :genre_ids, options_from_collection_for_select( Genre.all, 'id', 'name' ), { :prompt => '---' }, { :multiple => true }
                %p
                    = f.label :rating
                    = f.select :rating_id, options_from_collection_for_select( Rating.all, 'id', 'name' ), :prompt => '---'
                %p
                    = f.label :description
                    = f.text_area :description, :class => 'height-10em'
                = f.fields_for :inkling do | ff |
                    %p
                        = ff.label :word_count_goal, 'Word Count Goal'
                        %br
                        = ff.text_field :word_count_goal, :class => 'input-inline'
                        words
                    %p
                        = ff.label :word_rate_goal, 'Word Rate Goal'
                        %br
                        = ff.text_field :word_rate_goal, :class => 'input-inline'
                        words every
                        = ff.text_field :word_rate_goal_basis, :class => 'input-inline'
                        day(s)
                    %p
                        = ff.label :revival_fee, 'Revival Fee'
                        %br
                        = ff.text_field :revival_fee, :class => 'input-inline'
                        = ff.select :revival_fee_currency, options_for_select( Inkling::CURRENCIES ), { :prompt => '---' }, { :class => 'input-inline' }
                    %p
                        = ff.label :hardcore, 'Do you want to make the word rate goal and revival fee unchangeable?'
                        = ff.check_box :hardcore
                %p
                    = f.submit 'Create', :class => 'button-flat'