- content_for( :title ) { manuscripts_show_title( @manuscript ) }

%div.content
    %div#manuscript-info
        %h2
            = @manuscript.title
        %p
            = @manuscript.genres.map( &:name ).join( ' / ' )
        %p
            = @manuscript.rating.name
        %p
            = @manuscript.description
    %div#statistics
        %h3
            Statistics
        %p
            = "Started On: #{ l( @manuscript.created_at, :format => :to_the_day ) }"
            %br
            = "Last Updated On: #{ l( @manuscript.updated_at, :format => :to_the_day ) }"
        %p
            = "Number of Words: #{ @manuscript.word_count }"