= "Leave feedback for #{ @manuscript.title }."
= form_for @feedback, :url => manuscript_feedback_index_path( params[ :id ] ) do | f |
    = f.text_area :content
    = f.submit 'Submit'
= button_to 'Nevermind', '#', :class => 'close-dialog'