= "Leave feedback for #{ @manuscript.title }."
= form_for( @feedback, :url => manuscript_feedback_index_path( params[ :id ] ) ) do | f |
    %div.field
        = f.label( :content )
        = f.text_area( :content )
    %div.buttons
        = f.submit( 'Submit', { :class => 'button -bright -left' } )
        = link_to( 'Nevermind', '#', { :class => 'button -left -subtle close-dialog' } )
