%footer
    %div.content
        %div.list-wrapper
            %ul
                %li
                    = link_to 'Home', root_path
                %li
                    = link_to 'About', about_path
            %ul
                %li
                    = link_to 'Help', '#'
                %li
                    = link_to 'Getting Started', '#'
                %li
                    = link_to 'FAQ', '#'
                %li
                    = link_to 'Privacy and Safety', '#'
                %li
                    = link_to 'Contact Us', '#'
            %ul
                %li
                    Inklings
                %li
                    &copy 2014
        %div.clear