%footer
    %div.content
        %div.float-wrapper
            %ul
                %li
                    = link_to 'Home', root_path
                %li
                    = link_to 'About', about_path
            %ul
                %li
                    = link_to 'Help', help_path
                %li
                    = link_to 'Getting Started', getting_started_path
                %li
                    = link_to 'FAQ', faq_path
                %li
                    = link_to 'Contact Us', contact_path
            %ul
                %li
                    Inklings
                %li
                    &copy 2014
        %div.clear