%header
    %div#header-main
        %div.content
            %div.float-wrapper
                %div#logo
                    Inklings
                %nav
                    %ul
                        %li.indented
                            = link_to 'Home', root_path
                        %li.indented
                            = link_to 'About', about_path
                        %li.indented
                            = link_to 'Forums', forums_path
                        - if signed_in?
                            %li.dropdown.indented
                                %div.dropdown-label
                                    ACCOUNT
                                %div.arrow
                                %ul
                                    %li
                                        = link_to 'Overview', user_path( current_user )
                                    %li
                                        = link_to 'Sign Out', signout_path, :method => 'delete'
                        - else
                            %li.indented
                                = link_to 'Sign In', signin_path
            %div.clear
    - if params[ :controller ] == 'help_pages'
        %div#header-tabs
            %div.content
                %div.float-wrapper
                    %nav
                        %ul
                            %li
                                = link_to 'Help Center', help_path
                            %li
                                = link_to 'Getting Started', getting_started_path
                            %li
                                = link_to 'FAQ', faq_path
                            %li
                                = link_to 'Contact Us', contact_path
                %div.clear
    - if @account_tab && current_user?( User.find( params[ :id ] ) )
        %div#header-tabs
            %div.content
                %div.float-wrapper
                    %nav
                        %ul
                            %li
                                = link_to 'Profile', user_path( current_user.id )
                            %li
                                = link_to 'Manuscripts', user_manuscripts_path( current_user.id )
                            %li
                                = link_to 'Social', user_social_path( current_user.id )
                            %li
                                = link_to 'Account Settings', edit_user_path( current_user.id ), :class => 'nowrap'
                %div.clear
    - if @manuscript_tab
        %div#header-tabs
            %div.content
                %div.float-wrapper
                    %nav
                        %ul
                            %li
                                = link_to 'Summary', manuscript_path( @manuscript.id )
                            %li
                                = link_to 'Contents', manuscript_contents_path( @manuscript.id )
                            %li
                                = link_to 'Write', manuscript_write_path( @manuscript.id )
                            %li
                                = link_to 'Settings', edit_manuscript_path( @manuscript.id )
                %div.clear
    - if @reader
        %nav#nav-for-reader
            %div.content
                %table
                    %tr
                        %td.td-to-fit
                            %h4.section-title
                                = "#{ @manuscript.title }: #{ @open_section.name }"
                        %td.td-fill-remainder
                        %td.td-to-fit
                            = collection_select :section, :id, @sections, :id, :name, { :selected => ( params[ :section ].nil? ? 1 : params[ :section ] ) }, { :id => 'selector-for-reader' }
                %div.clear
                %hr