!!!
%html{ :lang => 'en' }
    %head
        %title
            = yield( :title ) || 'Inklings'
        %link{ :href => 'http://fonts.googleapis.com/css?family=Merienda+One|Delius|Kalam:400,300,700|Merienda', :rel => 'stylesheet', :type => 'text/css' }
        = csrf_meta_tags
        = stylesheet_link_tag( 'application', :media => 'all' )
        = javascript_include_tag( 'application' )
        = javascript_include_tag( controller_name ) if ::Rails.application.assets.find_asset( controller_name )
        = yield( :javascript ) if content_for?( :javascript )
    %body
        = yield( :header ) if content_for?( :header )
        = yield( :sub_header ) if content_for?( :sub_header )
        = yield( :tabs ) if content_for?( :tabs )
        = yield( :navigation ) if content_for?( :navigation )
        %section#flash-container
            = render( :partial => 'shared/flash_messages' )
        %main
            = yield( :body )
            = yield
        = yield( :footer ) if content_for?( :footer )
        %div.content
            = debug( params ) if Rails.env.development?
    -# console
