!!!
%html{ :lang => 'en' }
    %head
        %title
            = yield( :title ) || 'Inklings'
        %link{ :href => 'http://fonts.googleapis.com/css?family=Merienda+One|Delius|Kalam:400,300,700|Merienda', :rel => 'stylesheet', :type => 'text/css' }
        = yield( :meta ) || csrf_meta_tags
        = stylesheet_link_tag 'application', :media => 'all'
        = stylesheet_link_tag "styles/#{ params[ :controller ] }"
        = yield( :javascript ) || javascript_include_tag( 'application' )
    %body
        = yield :header
        %main
            - flash.each do | message_type, message |
                - if %W[ danger info success warning ].include? message_type
                    = content_tag( :div, message, :class => "alert-#{ message_type }" )
            = yield :body
        = yield :footer
        %div.content
            = debug( params ) if Rails.env.development?