!!!
%html{ :lang => 'en' }
    %head
        %title
            = yield( :title ) || 'Inklings'
        %link{ :href => 'http://fonts.googleapis.com/css?family=Merienda+One|Delius|Kalam:400,300,700|Merienda', :rel => 'stylesheet', :type => 'text/css' }
        = yield( :meta ) || csrf_meta_tags
        = yield( :stylesheet ) || stylesheet_link_tag( 'application', :media => 'all', 'data-turbolinks-track' => true )
        = yield( :javascript ) || javascript_include_tag( 'application', 'data-turbolinks-track' => true )
    %body
        = yield :header
        = yield :body
        = yield :footer