!!!
%html{ :lang => 'en' }
    %head
        %title
            = yield( :title ) || 'Inklings'
        = csrf_meta_tags
        = stylesheet_link_tag( 'application', :media => 'all' )
        = javascript_include_tag( 'squire-raw.js' )
        = javascript_include_tag( 'application.js' )
        = yield( :javascript ) if content_for?( :javascript )
    %body{ :class => "#{page_body_class}" + ( namespace.present? ? " #{namespace}" : '' ) }
        %div#page-wrapper
            = yield( :header ) if content_for?( :header )
            = yield( :sub_header ) if content_for?( :sub_header )
            = yield( :tabs ) if content_for?( :tabs )
            = yield( :utility_bar ) if content_for?( :utility_bar )
            %section#flash-container
                = render( :partial => 'shared/flash_messages' )
            = yield( :body )
            = yield
            = yield( :footer ) if content_for?( :footer )
    -# console if Rails.env.development?
